@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn-green {
    transition: all 0.2s ease-in-out;
    background-color: rgb(235, 253, 238);
    @apply rounded-xl;
    @apply p-2;
    @apply border-2;
    @apply text-black;
}

.btn-green:hover {
    background-color: rgb(185, 235, 193);
}

.btn-red {
    transition: all 0.2s ease-in-out;
    background-color: rgb(255, 179, 179);
    @apply rounded-xl;
    @apply p-2;
    @apply border-2;
    @apply text-black;
}

.btn-red:hover {
    background-color: rgb(255, 105, 105);
}

.btn-black {
    @apply bg-gray-800;
    @apply text-white;
    @apply rounded-xl;
    @apply p-2;
    @apply border-2;
}

.sidebar-btn {
    transition: all 0.2s ease-in-out;
    @apply cursor-pointer;
    @apply bg-gray-700;
    @apply p-3;
    @apply rounded-lg;
    @apply mt-3;
}

.sidebar-btn:hover {
    @apply bg-gray-500;
}

.paginationContainer {
    @apply mt-10;
    @apply mb-10;
    @apply flex;
    @apply justify-end;
    @apply text-gray-400;
}

.paginationContainer a {
    transition: all 0.2s ease-in-out;
    @apply md:m-1;
    @apply md:p-2;
    @apply p-1;
    @apply border-gray-200;
    @apply border-2;
    @apply rounded-md;
    @apply cursor-pointer;
}

.paginationContainer a:hover {
    @apply bg-gray-700;
    @apply text-white;
}

.paginationActive a {
    @apply bg-gray-700;
    @apply text-white;
}
